/* My own personal CSS fuckery. Built to work with the Atom theme, it uses its classes and vars. */
body {
    --font-monospace: 'IBM Plex Mono', 'Fira Code', 'Source Code Pro', monospace; /* Forces the font-family value for the front matter because the Obsidian font selector doesn't. */
    font-weight: 300;
  }

.cm-em {
    font-weight: 400;
    color: var( --text-muted);
}

.cm-strong {
    font-weight: 600;
    color: var( --text-accent);
  }